@import "../../Common/variables";

$colors: #3b5998, #c4302b, #d6249f, #00acee;

.header {
  position: relative;
  width: 100%;
  height: 53px;

  &__row {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 12;
    display: flex;
    justify-content: space-between;
    width: inherit;
    height: inherit;
    padding: 0 150px;
    background-color: $mainColor;
    transition: 0.2s ease;

    &.hide {
      transform: translateY(-80px);
    }
  }

  &__col {
    display: flex;
    gap: 20px;
    align-items: center;
    justify-content: space-evenly;
    color: white;

    &:last-child {
      width: 200px;
    }

    &:first-child {
      a {
        .header__item {
          padding: 10px;
          font-size: 14px;
          transition: all 0.5s ease;

          &:hover {
            background-color: rgba(100, 100, 100, 0.75);
          }
        }
      }
    }

    &:last-child {
      a {
        @for $i from 1 through 4 {
          &:nth-of-type(#{$i}) .header__item {
            transition: all 0.5s ease;

            &:hover {
              color: nth($colors, $i);
            }
          }
        }
      }
    }
  }
}
