@import "../variables";

.store__cartlist {
  padding: 0 200px;

  &-title {
    margin-bottom: 30px;
    font-weight: 600;
    font-size: 36px;
    line-height: 36px;
  }

  &-payment {
    display: flex;
    justify-content: center;
    margin: 30px 0 100px 0;

    button {
      padding: 16px 32px;
      font-weight: 500;
      font-size: 24px;
      background-color: $mainColor;
      border-radius: 50px;
      transition: all 0.3s ease;

      &:hover {
        color: white;
        background-color: $mainColor-hover;
      }
    }
  }
}
