$grayColor: rgb(85, 85, 85);

.article-detail {
  max-width: 1247px;
  padding: 20px;
  display: flex;
  flex-direction: column;
  margin: auto;

  &__btns {
    display: flex;
    justify-content: space-between;

    button {
      color: $grayColor;
      display: flex;
      align-items: center;
      gap: 10px;

      span {
        font-size: small;
      }
    }
  }

  &__breadcrumb {
    display: flex;
    align-items: center;
    color: $grayColor;
    font-size: small;
    margin-bottom: 20px;

    svg {
      font-size: inherit;
      margin-right: 5px;
    }
  }

  &__meta {
    display: flex;
    justify-content: space-between;
  }

  &__meta__date::before {
    content: "\2022";
    color: $grayColor;
    margin: 0 3px 0 5px;
    display: inline-block;
  }

  &__content {
    margin: 40px 0;
  }

  &__related-posts {
    padding: 10px;

    > h4 {
      margin-bottom: 20px;
    }

    > div {
      display: flex;
      gap: 20px;
      flex-wrap: wrap;
      justify-content: center;

      > a > div {
        display: flex;
        flex-direction: column;
        margin-bottom: 20px;
        width: 320px;

        .img-wrapper {
          overflow: hidden;
          border-radius: 2px;

          > img {
            background-color: gray;
            max-width: 100%;
            height: auto;
          }
        }

        .title {
          overflow: hidden;
          text-overflow: ellipsis;
          white-space: nowrap;
          margin: 3px 0;
          font-weight: 600;
        }

        .time {
          margin: 3px 0;
          display: flex;
          align-items: center;
          font-size: small;
          color: $grayColor;

          > svg {
            font-size: inherit;
            margin: 0 5px;
          }
        }
      }
    }
  }
}
