.article {
  width: 100%;
  padding: 20px;

  &__meta {
    display: flex;
    justify-content: space-between;
  }

  &__meta__date::before {
    content: "\2022";
    color: #ccc;
    margin: 0 3px 0 5px;
    display: inline-block;
  }

  &__content {
    margin: 40px 0;
  }

  &__ad {
    display: flex;
    justify-content: center;
  }

  &__tags {
    padding: 40px 0;
    gap: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  &__tag {
    background-color: gray;
    padding: 10px 20px;
  }

  &__tag::before {
    content: "#";
    margin: 0 3px 0 5px;
    display: inline-block;
  }
}
