@import "./variables";

.hidden-menu {
  position: absolute;
  display: none;
  width: 100%;
  left: 0;
  bottom: -413px;
  background-color: white;
  border-top: 1.5px solid $mainColor;
  z-index: 11;

  &__row {
    display: flex;
    width: 100%;
  }

  &-category {
    flex: 0.35;
    list-style: none;
    background-color: #f7f7f7;
    color: #2c2f34;
    padding: 30px;

    li {
      padding: 5px 0;
      border-bottom: 1px solid rgba(44, 47, 52, 0.2);
      transition: 0.25s ease;

      &:hover {
        color: $mainColor;
      }
    }
  }

  &-article {
    flex: 1;
    display: flex;
    flex-direction: column;
    color: black;
    padding: 30px;
    gap: 20px;

    &__post {
      display: flex;
      gap: 20px;

      img {
        width: 200px;
        height: 100px;
      }

      &-title {
        font-size: 30px;
        font-weight: 600;
        margin-bottom: 5px;
      }
    }
  }

  &.visible {
    display: block;
  }
}
