@import "./variables";

.hidden-menu {
  padding: 0 150px;
  position: absolute;
  display: none;
  left: 0;
  bottom: -412px;
  background-color: white;
  z-index: 11;
  width: 100%;
  cursor: default;

  &__row {
    display: flex;
    border-top: 1.5px solid $mainColor;
    box-shadow: 0 1px 2px rgba(107, 107, 107, 0.5);
  }

  &-category {
    flex: 0.35;
    list-style: none;
    background-color: #f7f7f7;
    color: #2c2f34;
    padding: 30px;

    li {
      padding: 5px 0;
      border-bottom: 1px solid rgba(44, 47, 52, 0.2);
      transition: 0.25s ease;
      cursor: pointer;

      &:hover {
        color: $mainColor;
      }
    }
  }

  &-article {
    flex: 1;
    display: flex;
    flex-direction: column;
    color: black;
    padding: 30px;
    gap: 20px;

    &__post {
      display: flex;
      gap: 20px;
      transition: 0.25s ease;
      cursor: pointer;

      &:hover {
        color: $mainColor;
      }

      img {
        width: 200px;
        height: 100px;
        object-fit: cover;
      }

      &-title {
        font-size: 30px;
        font-weight: 600;
        margin-bottom: 15px;
      }
    }
  }

  &.visible {
    display: block;

    .hidden-menu-article {
      &__post {
        @for $i from 1 through 3 {
          &:nth-child(#{$i}) {
            animation: fadeIn #{$i * 0.5}s;
          }
        }
      }
    }
  }
}

@keyframes fadeIn {
  0% {
    opacity: 0;
    transform: translateY(10px);
  }

  100% {
    opacity: 1;
    transform: translateY(0px);
  }
}
