.home {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  padding: 0 150px;

  &__logo {
    svg {
      font-size: 50px;
      margin: 20px 0;
    }
  }

  &__search-area {
    width: 600px;
    margin-bottom: 100px;
  }

  &__content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    width: 100%;
    margin-bottom: 100px;
    gap: 35px;

    &__title {
      font-size: 30px;
      font-weight: 800;
    }

    &__box {
      display: flex;
      flex-direction: column;
      width: 100%;

      &.popular {
        .home__content__post {
          display: flex;
          gap: 40px;
          margin-bottom: 10px;

          img {
            width: 400px;
            height: 300px;
            object-fit: cover;
          }

          &-title {
            font-size: 20px;
            font-weight: 600;
            margin-bottom: 20px;
          }

          &-content {
            width: 700px;
          }
        }
      }

      &.essential {
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;

        .home__content__post {
          display: flex;
          flex-direction: column;
          justify-content: center;
          align-items: center;

          img {
            border-radius: 20px 20px 0 0;
            width: 300px;
            height: 300px;
            object-fit: cover;
            margin-bottom: 30px;
          }

          &-title {
            display: flex;
            justify-content: center;
            width: 300px;
            font-size: 14px;
            font-weight: 600;
          }
        }
      }

      &.etc {
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;

        .home__content__post {
          display: flex;
          flex-direction: column;
          justify-content: center;
          align-items: center;
          gap: 20px;

          img {
            width: 200px;
            height: 100px;
            object-fit: cover;
          }

          &-col {
            &:last-child {
              font-size: 14px;
            }
          }
        }
      }
    }
  }
}
