.layout1 {
  display: flex;
  padding: 40px;
  gap: 20px;
  max-width: 1447px;
  justify-content: center;
  margin: auto;

  > div {
    display: flex;
    justify-content: center;
  }

  &__main {
    flex-basis: 66%;
  }

  &__side {
    flex-basis: 34%;
  }
}
