.menu {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  height: 110px;

  &__hidden {
    position: absolute;
    display: none;
    padding: 30px;
    width: 100%;
    left: 0;
    bottom: -393px;
    background-color: white;

    &-col {
      color: black;

      &:first-child {
        flex: 0.4;
        background-color: lightgray;

        div {
          padding: 5px 0;
          border-bottom: 1px solid gray;

          &:hover {
            background-color: red;
          }
        }
      }

      &:last-child {
        flex: 1;

        .menu__hidden-post {
          display: flex;
          gap: 20px;

          &:not(:last-child) {
            margin-bottom: 10px;
          }

          img {
            width: 200px;
            height: 100px;
          }

          .post-col {
            .title {
              font-size: 30px;
              font-weight: bold;
              margin-bottom: 5px;
            }
          }
        }
      }
    }
  }

  &__row {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100%;
  }

  &__col {
    display: flex;
    height: 100%;
    gap: 10px;

    &__choice {
      display: flex;
      justify-content: center;
      align-items: center;
      padding: 0 5px;
      cursor: pointer;
      transition: all 0.25s ease;

      &:hover {
        color: white;
        background-color: #71a9f2;

        .menu__hidden {
          display: flex;
          justify-content: space-between;
          gap: 40px;
          border-top: 1.5px solid #71a9f2;
          color: black;
          z-index: 11;
        }
      }
    }

    &__logo {
      display: flex;
      align-items: center;
    }
  }
}
