@import "./variables";

.search-form {
  position: relative;
  display: flex;
  align-items: center;
  width: 100%;
  background-color: white;
  justify-content: space-between;

  input {
    border: none;
    flex: 1;
    height: 45px;
    padding: 10px;
    padding-left: 31px;
    background-color: transparent;
    overflow: hidden;
  }

  button {
    background-color: $mainColor;
    padding: 5px;
  }

  button svg {
    font-size: xx-large;
  }
}
