.share-btn {
  display: flex;
  align-items: center;
  gap: 10px;
  position: relative;

  .share-option {
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 15px;
    position: absolute;
    top: 30px;
    right: 0;
    z-index: 9;
    background-color: white;
  }
}
