.side-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
}

.side-content__card {
  padding: 20px;
  margin-bottom: 20px;
}

.side-content hr {
  background-image: url(//t1.daumcdn.net/brunch/static/img/line/pc_line_type_03.png) !important;
  background-position: 50% 50%;
}

.side-content__content {
  margin: 20px 0;
  display: flex;
  height: 400px;
  background-color: white;
}
