@import "../Information/variables";

.main {
  &__header {
    display: flex;
    justify-content: space-between;
    font-weight: 600;
    padding: 15px 40px;
    gap: 10px;

    &-col {
      display: flex;
      justify-content: center;
      align-items: center;
      gap: 20px;
    }

    &-choice {
      display: flex;
      padding: 15px 20px;
      transition: 0.25s ease;
      cursor: pointer;

      &:hover {
        color: $mainColor;
      }
    }
  }

  &__content {
    background-color: red;

    &-row {
      display: flex;
      justify-content: center;
      align-items: center;
      height: 500px;
    }

    .test {
      background-color: blue;
    }

    #logo {
      animation: fill 0.5s ease forwards 3.5s;
    }

    #logo path:nth-child(1) {
      stroke-dasharray: 544.78;
      stroke-dashoffset: 544.78;
      animation: draw 2s ease forwards;
    }
    #logo path:nth-child(2) {
      stroke-dasharray: 525.23;
      stroke-dashoffset: 525.23;
      animation: draw 2s ease forwards 0.3s;
    }
    #logo path:nth-child(3) {
      stroke-dasharray: 328.92;
      stroke-dashoffset: 328.92;
      animation: draw 2s ease forwards 0.6s;
    }
    #logo path:nth-child(4) {
      stroke-dasharray: 482.58;
      stroke-dashoffset: 482.58;
      animation: draw 2s ease forwards 0.9s;
    }
    #logo path:nth-child(5) {
      stroke-dasharray: 525.23;
      stroke-dashoffset: 525.23;
      animation: draw 2s ease forwards 1.2s;
    }
    #logo path:nth-child(6) {
      stroke-dasharray: 363.09;
      stroke-dashoffset: 363.09;
      animation: draw 2s ease forwards 1.5s;
    }
  }
}

@keyframes draw {
  to {
    stroke-dashoffset: 0;
  }
}

@keyframes fill {
  from {
    fill: transparent;
  }

  to {
    fill: white;
  }
}
