@import "../Common/variables";

$stroke: 544.78, 525.23, 328.92, 482.58, 525.23, 363.09;
$time: 0s, 0.3s, 0.6s, 0.9s, 1.2s, 1.5s;
$image: "",
  "https://images.vexels.com/media/users/3/182544/isolated/preview/bc981ed8f2641d8f9f8e6f7249839904-cute-cat-stroke-washes-kitten-by-vexels.png",
  "https://images.vexels.com/media/users/3/182537/isolated/preview/76f024e6745b3e971e1ec65cd6e7ff49-cute-cat-stroke-by-vexels.png",
  "https://images.vexels.com/media/users/3/182541/isolated/lists/5c4f63d29c42f4643bfa4d3c809acb1f-cute-cat-stroke-sleeping.png";

.main {
  &__header {
    display: flex;
    gap: 10px;
    justify-content: space-between;
    padding: 15px 40px;
    font-weight: 600;

    &-col {
      display: flex;
      gap: 20px;
      align-items: center;
      justify-content: center;
    }

    &-choice {
      display: flex;
      padding: 15px 20px;
      cursor: pointer;
      transition: 0.25s ease;

      &:hover {
        color: $mainColor;
      }
    }
  }

  &__content {
    &-row {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      padding: 100px 0;
      background-color: $mainColor;

      &:nth-child(1) {
        .concept {
          padding: 60px 0 20px;
          font-size: 32px;
        }
        .description {
          line-height: 24px;
        }
      }

      @for $i from 2 through 4 {
        &:nth-child(#{$i}) {
          justify-content: start;
          height: 600px;
          padding: 0 100px;
          background-color: white;
          box-shadow: 0 0 10px 0 rgba(107, 107, 107, 0.5);

          &::before {
            width: 300px;
            height: 100%;
            background: no-repeat center/100% url(nth($image, $i));
            content: "";
          }

          @if $i % 2 == 0 {
            flex-direction: row;
          } @else {
            flex-direction: row-reverse;
          }
        }
      }
    }

    &-col {
      display: flex;
      flex-direction: column;
      gap: 20px;
      align-items: flex-start;
      padding: 50px;
      color: #54595f;

      .title {
        font-weight: 800;
        font-size: 40px;
      }

      .description {
        margin-bottom: 50px;
      }

      .button {
        padding: 20px 50px;
        color: black;
        background-color: $mainColor;
        border-radius: 30px;
        cursor: pointer;
        transition: 0.25s ease;

        &:hover {
          opacity: 0.5;
        }
      }
    }

    #logo {
      animation: fill 0.5s ease forwards 3.5s;

      @for $i from 1 through 6 {
        & path:nth-child(#{$i}) {
          animation: draw 2s ease forwards nth($time, $i);
          stroke-dasharray: nth($stroke, $i);
          stroke-dashoffset: nth($stroke, $i);
        }
      }
    }
  }
}

@keyframes draw {
  to {
    stroke-dashoffset: 0;
  }
}

@keyframes fill {
  from {
    fill: transparent;
  }

  to {
    fill: white;
  }
}
