@import "../variables";

.store__product {
  padding: 0 250px;

  &__row {
    &:first-child {
      font-weight: 600;
      font-size: 32px;
      text-align: center;

      .title {
        margin-bottom: 30px;
      }

      .divider-wrapper {
        margin-bottom: 50px;

        .divider {
          display: block;
          width: 20%;
          margin: 0 auto;
          border-top: 4px solid $mainColor;
        }
      }
    }

    &:nth-child(2) {
      display: flex;
      justify-content: space-evenly;
      width: 80%;

      .store__product__thumbnail {
        width: 360px;

        img {
          width: inherit;
        }
      }

      .store__product__detail-row {
        &:nth-child(1) {
          margin-bottom: 20px;
          font-weight: 600;
          font-size: 24px;
          line-height: 24px;
        }

        &:nth-child(2) {
          margin-bottom: 20px;
          color: rgb(104, 44, 182);
          font-weight: 600;
          font-size: 24px;
          text-decoration: underline;
        }

        &:nth-child(3) {
          input {
            max-width: 70px;
            margin-right: 15px;
            padding: 8px 16px;
          }

          button {
            padding: 7px 14px;
            font-weight: 500;
            font-size: 14px;
            background-color: $mainColor;
            border-radius: 20px;
          }
        }
      }
    }

    &:nth-child(n + 3) {
      display: flex;
      justify-content: center;
      font-size: 60px;
    }

    &:last-child {
      margin-bottom: 100px;
    }
  }

  .top-button {
    position: fixed;
    right: 30px;
    bottom: 30px;
    z-index: 12;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 40px;
    height: 40px;
    color: #ffffff;
    background-color: $mainColor;
    border-radius: 100%;
    cursor: pointer;
    transition: all 0.3s ease;

    &:focus {
      outline: 0;
    }

    &:hover {
      color: $grayColor;
    }
  }
}
