.information__home {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  padding: 0 150px;

  &__header {
    display: flex;
    gap: 30px;
    justify-content: center;

    &__logo {
      svg {
        margin: 20px 0;
        font-size: 50px;
      }
    }

    &__search-area {
      width: 1000px;
      margin-bottom: 100px;
    }
  }

  &__content {
    display: flex;
    flex-direction: column;
    gap: 35px;
    align-items: flex-start;
    justify-content: center;
    width: 100%;
    margin-bottom: 100px;

    &__title {
      font-weight: 800;
      font-size: 30px;
    }

    &__box {
      display: flex;
      flex-direction: column;
      width: 100%;

      &.popular {
        .information__home__content__post {
          display: flex;
          gap: 50px;
          margin-bottom: 15px;
          padding-bottom: 15px;
          border-bottom: 1px solid lightgray;

          img {
            width: 500px;
            height: 300px;
            object-fit: cover;
          }

          &-title {
            margin-bottom: 20px;
            font-weight: 600;
            font-size: 20px;
          }

          &-content {
            width: 700px;
          }
        }
      }

      &.essential {
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;

        .information__home__content__post {
          display: flex;
          flex-direction: column;
          align-items: center;

          img {
            width: 300px;
            height: 300px;
            object-fit: cover;
            border-radius: 20px 20px 0 0;
          }

          &-title {
            display: flex;
            justify-content: center;
            width: 300px;
            margin-top: -5px;
            padding: 10px;
            font-weight: 600;
            font-size: 14px;
            border: 1px solid lightgray;
            border-top: none;
          }
        }
      }

      &.etc {
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;

        .information__home__content__post {
          display: flex;
          flex-direction: column;
          gap: 20px;
          align-items: center;
          justify-content: center;

          img {
            width: 200px;
            height: 100px;
            object-fit: cover;
          }

          &-col {
            &:last-child {
              font-size: 14px;
            }
          }
        }
      }
    }
  }
}
