@import "../variables";

.store__home {
  &__row {
    margin-bottom: 100px;

    .divider__wrapper {
      margin-bottom: 50px;

      .divider {
        display: block;
        width: 10%;
        margin: 0 auto;
        border-top: 4px solid $mainColor;
      }
    }

    .title {
      margin-bottom: 20px;
      font-weight: 600;
      font-size: 28px;
      line-height: 28px;
      text-align: center;
    }

    .content__wrapper {
      display: flex;
      align-items: center;
      justify-content: center;
    }

    .button__wrapper {
      display: flex;
      align-items: center;
      justify-content: center;

      button {
        padding: 12px 24px;
        font-weight: 500;
        font-size: 15px;
        background-color: $mainColor;
        border-radius: 20px;
      }
    }
  }
}
