.information__articles {
  width: 100%;
  padding: 20px 150px;

  &__meta {
    margin-bottom: 20px;
  }

  &__content {
    display: flex;
    flex-direction: column;
    gap: 10px;
    justify-content: center;
  }
}
