@import "../../Common/variables";

.information__menu {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  height: 110px;
  padding: 0 150px;

  &__row {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 100%;
  }

  &__col {
    display: flex;
    height: 100%;

    &__choice {
      display: flex;
      align-items: center;
      justify-content: center;
      padding: 0 5px;
      cursor: pointer;
      transition: all 0.25s ease;

      &:hover {
        color: white;
        background-color: $mainColor;
      }
    }

    &__logo {
      display: flex;
      align-items: center;
    }
  }
}
