.footer {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #161619;

  color: white;
  height: 200px;

  flex-direction: column;
  gap: 20px;
}

.footer ul {
  list-style: none;
  outline: none;
}

.footer ul li {
  display: inline-block;
  margin: 0 5px;
}
