.header {
  display: flex;
  justify-content: space-between;
  height: 53px;
  background-color: #71A9F2;
  padding: 0 30px;

  &__col {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 300px;
    color: white;

    &:last-child {
      width: 200px;
    }
  }
}