.header {
  display: flex;
  justify-content: space-between;
  height: 53px;
  background-color: #ffcd00;
  padding: 0 30px;
}

.header__right {
  display: flex;
  align-items: center;
  gap: 10px;
}

.header__left {
  display: flex;
  align-items: center;
  gap: 20px;
}
