.home {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 40px;
}

.home__logo svg {
  font-size: 50px;
  margin: 20px 0;
}

.home__search-area {
  width: 600px;
}

.home__contnet__grid {
  display: flex;
  gap: 20px;
}

.home__content {
  margin: 20px 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.home__content__title {
  margin: 15px;
}

.home__content__card {
  height: 164px;
  width: 184px;
  display: flex;
  flex-direction: column;
  border-radius: 6px;
}

.home__content__card img {
  width: 100%;
  height: 104px;
  flex: 1;
  border-radius: 6px 6px 0 0;
}

.home__content__card span {
  padding: 5px;
  font-size: small;
  font-weight: bold;
}
