.home {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 40px;

  &__logo {
    svg {
      font-size: 50px;
      margin: 20px 0;
    }
  }

  &__search-area {
    width: 600px;
  }

  &__content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 20px 0;

    &__grid {
      display: flex;
      align-items: center;
      gap: 40px;

      svg {
        width: 50px;
        height: 50px;
        border-radius: 100%;
        cursor: pointer;
        transition: all 0.2s ease;

        &:hover {
          color: white;
          background-color: lightgray;
        }
      }
    }

    &__title {
      margin: 15px;
    }

    &__card {
      display: flex;
      flex-direction: column;
      width: 250px;
      height: 200px;
      border: none;

      img {
        width: 100%;
        height: 104px;
        flex: 1;
        border-radius: 6px 6px 0 0;
      }

      div {
        padding: 5px;
        font-size: small;
        font-weight: bold;
        border: 1px solid lightgray;
        border-top: none;
      }
    }

    a:nth-of-type(2) {
      .home__content__card {
        width: 400px;
        height: 300px;
      }
    }
  }
}
