.home {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 0 150px;

  &__logo {
    svg {
      font-size: 50px;
      margin: 20px 0;
    }
  }

  &__search-area {
    width: 600px;
    margin-bottom: 100px;
  }

  &__content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 100px;
    gap: 35px;

    &__grid {
      display: flex;
      align-items: center;
      gap: 40px;

      svg {
        width: 50px;
        height: 50px;
        border-radius: 100%;
        cursor: pointer;
        transition: all 0.2s ease;

        &:hover {
          color: white;
          background-color: lightgray;
        }
      }
    }

    &__title {
      position: relative;
      font-size: 25px;
      font-weight: 800;
      padding-bottom: 4px;

      &::after {
        content: '';
        position: relative;
        display: block;
        margin: auto;
        padding: 0 0 8px;
        width: 70%;
        border-bottom: 2px solid #71a9f2;
      }
    }

    &__card {
      display: flex;
      flex-direction: column;
      width: 250px;
      height: 200px;
      border: none;

      img {
        width: 100%;
        height: 104px;
        flex: 1;
        border-radius: 6px 6px 0 0;
      }

      div {
        padding: 5px;
        height: 50px;
        font-size: small;
        font-weight: bold;
        border: 1px solid lightgray;
        border-top: none;
        transition: color 0.5s ease;

        &:hover {
          color: #71a9f2;
        }
      }
    }

    a:nth-of-type(2) {
      .home__content__card {
        width: 400px;
        height: 300px;
      }
    }
  }
}
