.footer {
  padding: 50px 200px;
  color: white;
  font-size: 14px;
  background-color: #161619;

  &__row {
    display: flex;
    justify-content: space-between;

    &:first-child {
      margin-bottom: 50px;
    }
  }

  &__col {
    &:first-child {
      display: flex;
      flex-direction: column;
      gap: 10px;
      color: lightgray;
    }
  }

  &__follow {
    display: flex;
    gap: 10px;
    align-items: center;
  }
}
