.modal {
  &__container {
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    width: inherit;
    height: inherit;
    background-color: rgba(51, 51, 51, 0.3);
    backdrop-filter: blur(2px);
    z-index: 20;

    &.open {
      .modal__content {
        background-color: white;
        opacity: 1;
      }
    }
  }

  &__content {
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
    background-color: white;
    border-radius: 4px;
    opacity: 0;
  }
}
