.adopt__home {
  width: 100%;
  overflow: auto;

  .home__route-container {
    position: relative;
    display: flex;
    height: 100%;
    overflow: hidden;

    .arrow {
      position: absolute;
      z-index: 10;
      display: flex;
      flex-direction: column;
      justify-content: center;
      height: 100%;
      padding: 10px;

      button {
        svg {
          color: rgba(255, 255, 255, 0.418);
          font-size: xx-large;
          transition: all 0.4s ease;

          &:hover {
            color: white;
          }
        }
      }

      &-left {
        left: 0;
      }

      &-right {
        right: 0;
      }
    }

    .labels {
      position: absolute;
      bottom: 0;
      z-index: 10;
      display: flex;
      gap: 2px;
      align-items: center;
      justify-content: center;
      width: 100%;

      .label {
        position: relative;
        box-sizing: border-box;
        padding: 0 20px 10px 20px;
        color: white;
        font-weight: 500;
        background: rgba(39, 53, 61, 0.3);
        cursor: pointer;
        transition: 0.2 ease;

        &::before {
          position: absolute;
          top: -15px;
          left: 0;
          box-sizing: border-box;
          width: 100%;
          height: 0;
          border-right: 22px solid transparent;
          border-bottom: 15px solid rgba(39, 53, 61, 0.3);
          content: "";
        }

        &.active {
          background: #27353d;

          &::before {
            border-right: 22px solid transparent;
            border-bottom: 15px solid #27353d;
          }
        }
      }
    }

    &-item {
      position: absolute;
      top: 0;
      left: 0;
      display: flex;
      align-items: center;
      width: 100%;
      height: 100%;
      border-radius: 4px;

      > img {
        width: 100%;
        height: 100%;
        object-fit: cover;
      }

      h3 {
        position: absolute;
        top: 50%;
        left: 50%;
        margin: 30px;
        padding: 20px;
        color: white;
        background-color: rgba(255, 255, 255, 0.137);
        transform: translate(-50%, -50%);
      }
    }
  }

  > .controller {
    position: relative;
    display: flex;
    height: 100%;
  }
}
