$image: "http://www.saac.kr/images/kor09r-17-0380/main/main_visual01.jpg",
  "http://www.saac.kr/images/kor09r-17-0380/main/main_visual02.jpg";

.adopt__home {
  width: 100%;

  /* Needed for when the area gets squished too far and there is content that can't be displayed */
  overflow: auto;

  .home__route-container {
    position: relative;
    display: flex;
    height: 100%;
    overflow: hidden;

    .arrow {
      position: absolute;
      z-index: 10;
      display: flex;
      flex-direction: column;
      align-content: center;
      justify-content: center;
      height: 100%;
      padding: 10px;
      background-color: #8080801f;

      &-left {
        left: 0;
      }

      &-right {
        right: 0;
      }
    }

    &-item {
      position: absolute;
      top: 0;
      left: 0;
      display: flex;
      align-items: center;
      width: 100%;
      height: 100%;
      border-radius: 4px;

      > img {
        width: 100%;
        height: 100%;
        object-fit: cover;
      }

      h3 {
        position: absolute;
        top: 50%;
        left: 50%;
        margin: 30px;
        padding: 20px;
        color: white;
        background-color: rgba(255, 255, 255, 0.137);

        transform: translate(-50%, -50%);
      }
    }
  }

  > .controller {
    position: relative;
    display: flex;
    height: 100%;
  }
}
