.adopt {
  display: flex;
  flex: 1;
  align-content: stretch; /* Extra space in Cross Axis */
  align-items: stretch; /* align items in Cross Axis */
  justify-content: flex-start; /* align items in Main Axis */
}
