.list-item {
  display: grid;
  grid-template-rows: 1fr auto auto;
  gap: 4px;
  height: 100%;
  padding: 1rem;

  .image-wrapper {
    max-height: 400px;
    object-fit: cover;

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }

  .title {
    font-weight: bold;
  }

  .meta {
    display: flex;
    gap: 7px;
    color: rgb(199, 199, 199);
    font-size: small;
  }
}
