.adopt__list {
  display: grid;
  flex: 1;
  grid-template-columns: minmax(150px, 25%) 1fr;
  max-width: 1400px;

  .category {
    display: flex;
    flex-direction: column;
    padding: 30px 25px;

    &-title {
      padding-bottom: 20px;
      font-weight: bold;
      font-size: 1.5rem;
      text-align: center;
      border-bottom: 5px solid #509591;
    }

    &-list {
      &-item {
        position: relative;
        padding: 20px;
        font-weight: bold;
        font-size: 1.2rem;
        border: 1px solid rgba(0, 0, 0, 0.1);
        transition: all 0.2s ease;

        &::after {
          position: absolute;
          top: 50%;
          right: -10px;
          display: block;
          width: 0;
          height: 0;
          margin-top: -6px;
          border-top: 6px solid transparent;
          border-bottom: 6px solid transparent;
          border-left: 10px solid #ffffff00;
          transition: all 0.2s ease;
          content: "";
        }

        &:hover,
        &.active {
          color: white;
          background-color: #939a9e;
          border: 1px solid rgba(255, 255, 255, 0.1);

          &::after {
            position: absolute;
            top: 50%;
            right: -10px;
            display: block;
            width: 0;
            height: 0;
            margin-top: -6px;
            border-top: 6px solid transparent;
            border-bottom: 6px solid transparent;
            border-left: 10px solid #939a9e;
            content: "";
          }
        }
      }
    }

    .notice {
      margin-top: 200px;
      padding: 15px;
      text-align: center;

      &-title {
        padding-bottom: 20px;
        color: cadetblue;
        font-weight: bold;
        font-size: 1.3rem;
      }
      &-content {
        line-height: 1.5;
      }
      &-tel {
        margin-top: 10px;

        span:nth-child(1) {
          margin: 10px;
          padding: 2px 6px;
          color: white;
          font-size: small;
          background-color: green;
          border-radius: 10px;
        }

        span:nth-child(2) {
          color: green;
          font-weight: bold;
        }
      }
    }
  }

  .list-container {
    padding: 10px 25px;

    > .title {
      padding: 30px 10px;
      font-weight: bold;
      font-size: 1.6rem;
    }

    .list {
      display: grid;
      grid-gap: 1rem;
      grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
    }

    .pagination-container {
      margin: 20px 10px;
    }

    &__search-form {
      display: flex;
      gap: 10px;
      align-items: center;
      justify-content: center;
      height: 40px;
      margin: 20px 10px;

      .mode {
        height: 100%;
        select {
          height: 100%;
          padding: 10px;
          border-radius: 2px;
          outline: none;
        }
      }

      .input-keyword {
        height: 100%;
        input {
          height: 100%;
          padding: 10px;
          border: 1px solid rgb(118, 118, 118);
          border-radius: 2px;
          outline: none;
        }
      }

      button {
        height: 100%;
        padding: 10px;
        color: white;
        background-color: rgb(66, 146, 66);
        // border: 1px solid rgb(118, 118, 118);
        border-radius: 2px;
      }
    }
  }

  .article-detail{
    margin: 40px 0 0 0 ;
  }
}
