.list-item {
  // display: flex;
  // flex-direction: column;
  // justify-content: space-between;
  padding: 1rem;
  display: grid;
  height: 100%;
  grid-template-rows: 1fr auto auto;
  gap: 4px;

  .image-wrapper {
    object-fit: cover;
    max-height: 400px;

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }

  .title {
    font-weight: bold;
  }

  .meta {
    display: flex;
    gap: 7px;
    color: rgb(199, 199, 199);
    font-size: small;
  }
}
