.store__category {
  margin-bottom: 150px;
  padding: 0 150px;

  &__header {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
    line-height: 24px;
  }

  &__content {
    display: grid;
    grid-template-columns: repeat(5, minmax(200px, auto));
    gap: 60px 40px;
    justify-items: center;
  }

  .store__item {
    width: 100%;
    margin: 0;
  }
}
