@import "../../../Common/variables";

.article-detail {
  display: flex;
  flex-direction: column;
  max-width: 1247px;
  margin: auto;
  padding: 40px;

  &__btns {
    display: flex;
    justify-content: space-between;

    button {
      display: flex;
      gap: 10px;
      align-items: center;
      color: $grayColor;

      span {
        font-size: small;
      }
    }
  }

  &__breadcrumb {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
    color: $grayColor;
    font-size: small;

    svg {
      margin-right: 5px;
      font-size: inherit;
    }
  }

  &__title {
    padding: 10px 0;

    h1 {
      font-weight: 700;
      font-size: 41px;
    }
  }

  &__meta {
    display: flex;
    justify-content: space-between;
  }

  &__content {
    margin: 40px 0;

    p {
      margin-bottom: 25px;
      font-size: 15px;
      line-height: 26px;

      img {
        display: flex;
        margin: 0 auto;
      }
    }

    h2 {
      margin-bottom: 13.5px;
      font-weight: 600;
      font-size: 27px;
      line-height: 37.8px;
    }

    h3 {
      margin-bottom: 11.5px;
      font-weight: 600;
      font-size: 23px;
      line-height: 32.2px;
    }

    h4 {
      margin-bottom: 8.5px;
      font-weight: 600;
      font-size: 17px;
      line-height: 23.8px;
    }

    ul,
    ol {
      margin: 0 0 20px 20px;
      padding-left: 15px;
      font-size: 15px;
      line-height: 26px;

      li {
        padding-bottom: 5px;
      }
    }

    figure {
      margin: 15px auto;

      figcaption {
        font-size: 13px;
        font-style: italic;
        text-align: center;
        opacity: 0.6;
      }
    }

    .post-bottom-meta {
      display: none;
    }
  }

  &__related-posts {
    padding: 10px;

    > h4 {
      margin-bottom: 20px;
    }

    > div {
      display: flex;
      flex-wrap: wrap;
      gap: 20px;
      justify-content: center;

      > a > div {
        display: flex;
        flex-direction: column;
        width: 320px;
        margin-bottom: 20px;

        .img-wrapper {
          overflow: hidden;
          border-radius: 2px;

          > img {
            max-width: 100%;
            height: auto;
            background-color: gray;
          }
        }

        .title {
          margin: 3px 0;
          overflow: hidden;
          font-weight: 600;
          white-space: nowrap;
          text-overflow: ellipsis;
        }

        .time {
          display: flex;
          align-items: center;
          margin: 3px 0;
          color: $grayColor;
          font-size: small;

          > svg {
            margin: 0 5px;
            font-size: inherit;
          }
        }
      }
    }
  }
}
