@import "../../Common/variables";

.information__search {
  position: relative;
  padding: 20px;

  &__theme {
    position: relative;
    z-index: 10;
    display: flex;
    flex-direction: column;
    width: 100%;
    margin: auto;
    border: solid $mainColor 2px;
    border-radius: 6px;
  }

  &__history {
    position: absolute;
    top: 45px;
    left: -2px;
    display: flex;
    flex-direction: column;
    gap: 5px;
    box-sizing: content-box;
    width: 100%;
    height: 0px;
    background-color: white;
    border: solid $mainColor;
    border-width: 0 2px 2px 2px;
    border-radius: 0 0 6px 6px;
    opacity: 0;

    &__words {
      display: flex;
      flex-direction: column;
      gap: 5px;
      height: 0;
      padding: 0 10px;
    }

    &__word {
      display: flex;
      align-items: center;
    }
  }

  &__background {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 9;
    display: none;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.384);
    opacity: 0;
    backdrop-filter: blur(3px);
  }
}
